# application.yml
server:
  port: 8080

spring:
  application:
    name: rest

  profiles:
    active: secret

  output:
    ansi:
      enabled: always

  datasource:
    url: jdbc:postgresql://localhost:5432/BlogPostgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: hyeonn4713@gmail.com
    password: anupazynjjhdgfpn   # 공백 제거! (Gmail 앱 비밀번호는 띄어쓰기 없는 16자리)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        highlight_sql: true
        use_sql_comments: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
